networks:
    transcribo-network:
        driver: bridge

services:
    nginx:
        extends:
            file: ./docker/services.compose.yml
            service: nginx
        depends_on:
            - transcribo-frontend
        networks:
            - transcribo-network

    llm:
        extends:
            file: ./docker/services.compose.yml
            service: llm
        networks:
            - transcribo-network

    faster_whisper:
        extends:
            file: ./docker/services.compose.yml
            service: faster_whisper
        networks:
            - transcribo-network

    transcribo-backend:
        extends:
            file: ./docker/services.compose.yml
            service: transcribo-backend
        networks:
            - transcribo-network

    transcribo-frontend:
        extends:
            file: ./docker/services.compose.yml
            service: transcribo-frontend
        networks:
            - transcribo-network
