name: Build and Publish Docker Image
on:
    workflow_dispatch:

permissions:
    contents: write
    packages: write

jobs:
    publish:
        uses: DCC-BS/ci-workflows/.github/workflows/publish-docker.yml@v8
        secrets: inherit
        with:
            version_project_type: "node" # or "python"
            registry: ghcr.io
            image_name: ghcr.io/${{ github.repository }}
            context: .
            dockerfile: ./Dockerfile
            platforms: linux/amd64,linux/arm64
            push: true
